<div>
  <table class="center" cellpadding="20">
    <tr style="border-bottom: 1px solid white;">
        <th>Date</th>
        <th>Venue</th>
        <th>Location</th>
    </tr>
    <tr>
        <td>5/31/2019</td>
        <td>Elks Lodge</td>
        <td>Evergreen</td>
    </tr>
    <tr>
        <td>6/1/2019</td>
        <td>7th Circle Music Collective</td>
        <td>Denver</td>
    </tr>
    <tr>
        <td>6/8/2019</td>
        <td>Lions Lair</td>
        <td>Denver</td>
    </tr>
    <tr>
        <td>6/24/2019</td>
        <td>7th Circle Music Collective</td>
        <td>denver</td>
    </tr>
    <tr>
        <td>7/4/2019</td>
        <td>Elks Lodge</td>
        <td>Evergreen</td>
    </tr>
  </table>
</div>
