<div class="gallery">
  <a target="_blank" href="assets/OnLedge.jpg">
    <img src="assets/OnLedge.jpg"  width="600" height="400">
  </a>
  <!-- <div class="desc">Adding some Electricity</div> -->
</div>

<div class="gallery">
  <a target="_blank" href="assets/OnLedge.jpg">
    <img src="assets/blueFaces.jpg"  width="600" height="400">
  </a>
  <!-- <div class="desc">Adding some Electricity</div> -->
</div>
<div class="gallery">
  <a target="_blank" href="assets/OnLedge.jpg">
    <img src="assets/coverPic.jpg"  width="600" height="400">
  </a>
  <!-- <div class="desc">Adding some Electricity</div> -->
</div>
<div class="gallery">
  <a target="_blank" href="assets/OnLedge.jpg">
    <img src="assets/InkedCrotchShot.jpg"  width="600" height="400">
  </a>
  <!-- <div class="desc">Adding some Electricity</div> -->
</div>
<div class="gallery">
  <a target="_blank" href="assets/OnLedge.jpg">
    <img src="assets/justFun.jpg"  width="600" height="400">
  </a>
  <!-- <div class="desc">Adding some Electricity</div> -->
</div>
<div class="gallery">
  <a target="_blank" href="assets/OnLedge.jpg">
    <img src="assets/Ledge_sit.jpg"  width="600" height="400">
  </a>
  <!-- <div class="desc">Adding some Electricity</div> -->
</div>
<div class="gallery">
  <a target="_blank" href="assets/OnLedge.jpg">
    <img src="assets/overTheBoxes.jpg"  width="600" height="400">
  </a>
  <!-- <div class="desc">Adding some Electricity</div> -->
</div>

