/* You can add global styles to this file, and also import other style files */

.centerSpinner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10em;
    height: 10em;
    transform: translate(-50%, -50%);
}
  
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #33CCFF; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #157A92;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
